@model IEnumerable<ContactMVC.Models.Contact>
@using ContactMVC.Services.Interfaces
@inject IImageService ImageService

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12 text-end mb-2">
        <a class="btn btn-secondary rounded-pill" asp-controller="Contacts" asp-action="Create">Create New</a>
    </div>
</div>
<div class="row g-2">
    <div class="col-12 col-md-4 sideNav">
        <form asp-action="SearchContacts" asp-controller="Contacts" method="post">
            <div class="input-group">
                <input class="form-control" type="search" name="searchString"
                       placeholder="Search Term" />
                <input type="submit" class="btn btn-outline-primary" value="Search" />
            </div>
        </form>

        <form asp-action="Index" asp-controller="Contacts" method="post">
            <div class="mt-5">
                <label class="form-label fw-bold">CATEGORY FILTER</label>
                <select name="categoryId" asp-items="@ViewBag.CategoryId" class="form-control"
                        onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                    <option>All Contacts</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-8">
        <div class="row row-cols-1 g-3">
            @foreach (Contact contact in Model)
            {
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 square-img-container">
                                <img src="@ImageService.ConvertByteArrayToFile(contact.ImageData!, contact.ImageType!)" class="square-img rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@contact.FullName</h5>
                                    <address class="card-text">
                                        @contact.Address1<br>
                                        @contact.Address2<br>
                                        @contact.City, @contact.State @contact.ZipCode
                                    </address>
                                    <div class="card-text">
                                        <span class="fw-bold me-2">Phone:</span>@contact.PhoneNumber
                                    </div>
                                    <div class="card-text">
                                        <span class="fw-bold me-2">Email:</span>@contact.Email
                                    </div>
                                    <div class="fs-4">
                                        <a class="me-3 editIcons text-secondary" asp-action="Edit" asp-route-id="@contact.Id"><i class="bi bi-pencil-fill "></i></a>
                                        <a class="me-3 editIcons" asp-action="EmailContact" asp-route-id="@contact.Id"><i class="bi bi-envelope-fill "></i></a>
                                        <a class="me-3 editIcons text-danger" asp-action="Delete" asp-route-id="@contact.Id"><i class="bi bi-trash-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <!-- Sweet Alerts -->
    <script>
        let message = '@(ViewBag.SwalMessage)';

        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            })
        }
        else if (message.includes("Error")) {
            Swall.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            })
        }

    </script>
}

    @*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <img class="" src="@ImageService.ConvertByteArrayToFile(item.ImageData!, item.ImageType!)" style="width:80%;height:80%;"/>
            </td>
            <td>
                @foreach(Category category in item.Categories){
                    <p>@category.Name</p>
                }

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@